<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalhes</h1>
    <p>Produto: {{produto.nome_produto}}</p>
    <p>Código: {{produto.codigo_produto}}</p>
    <p>Descrição: {{produto.descricao_produto}}</p>
    <p>Preço: {{produto.preco_produto}}</p>
    <p>Quantidade em Estoque: {{produto.quant_estoque}}</p>
    <p>Data de Criação: {{produto.data_criacao}}</p>
    <p>Categoria: {{produto.Categoria}}</p>
    <p>Fornecedor: {{produto.fornecedor}}</p>

 
</body>
</html>